[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
imgkit = "*"
pillow = "*"
numpy = "*"
pandas = "*"
bs4 = "*"
pytesseract = "*"
matplotlib = "*"
opencv-python = "*"
urllib3 = ">=1.24.2"

[requires]
python_version = "3.7"
